<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
	  <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
		  <Component Id="INSTALLFOLDER" Guid="DE1B3FCE-4BA2-4379-A092-4E6AC846ED38">
			  <RemoveFolder Id="INSTALLFOLDER" On="uninstall" />
			  <RegistryValue Root="HKCU"
							 Key="Software\OpenSSL.org\OpenSSL"
							 Name="FolderComponent"
							 Type="string" Value="" />
		  </Component>

		  <Component Id="OpensslCnf" Guid="FA1803BF-2E61-425C-875E-F48170C66665">
			  <File Id="oConf" Name="openssl.cnf" Source="C:\build\OpenSSL_FIPS\openssl.cnf" />
		  </Component>

		  <Component Id="FipsModuleCnf" Guid="8B62B2F7-B0A0-42AE-9C0D-4761255E8451">
			  <File Id="fConf" Name="fipsmodule.CNF" Source="C:\build\OpenSSL_FIPS\fipsmodule.cnf" />
		  </Component>

		  <Component Id="ShellWrapper" Guid="EAD69737-7977-4E4E-B511-089CF568FFDF">
			  <File Id="BAT" Name="OpenSSL_Start.bat" Source="C:\build\OpenSSL_FIPS\OpenSSL_Start.bat" />
		  </Component>

		  <Component Id="MainExecutable" Guid="B26AA781-3B21-4A69-925E-BA716F47AD53">
			  <File Id="EXE" Name="openssl.exe" Source="C:\build\OpenSSL_FIPS\openssl.exe" />
		  </Component>
		  
		  <!-- Documentation and Verification Files -->
		  <Component Id="BuildInfo" Guid="31D35B65-4CDA-44CC-B211-700ABBCB636B">
			  <File Id="BuildInfoTxt" Name="BUILD_INFO.txt" Source="C:\build\OpenSSL_FIPS\BUILD_INFO.txt" />
		  </Component>

		  <Component Id="SourceVerification" Guid="6410FBA1-59D4-475E-8F84-9E3ABF03318B">
			  <File Id="SourceVerificationTxt" Name="source-verification.txt" Source="C:\build\OpenSSL_FIPS\source-verification.txt" />
		  </Component>

		  <Component Id="CryptoAttestation" Guid="5D5AE0D2-C6F5-43EA-92BA-52BD96F8D3D8">
			  <File Id="CryptoAttestationTxt" Name="CRYPTOGRAPHIC_ATTESTATION.txt" Source="C:\build\OpenSSL_FIPS\CRYPTOGRAPHIC_ATTESTATION.txt" />
		  </Component>

		  <Component Id="BuildProvenance" Guid="3F8D1C05-F531-4D7D-9EFA-247F62C14378">
			  <File Id="BuildProvenanceTxt" Name="BUILD_PROVENANCE.txt" Source="C:\build\OpenSSL_FIPS\BUILD_PROVENANCE.txt" />
		  </Component>

		  <Component Id="BuildProvenanceJson" Guid="A06738E5-CB07-453D-8F29-16C2CB1C898D">
			  <File Id="BuildProvenanceJson" Name="BUILD_PROVENANCE.json" Source="C:\build\OpenSSL_FIPS\BUILD_PROVENANCE.json" />
		  </Component>
	  </ComponentGroup>

	  <ComponentGroup Id="ProductModules" Directory="OSSLModulesFolder">
		  <Component Id="FipsModule" Guid="13E07CC8-19BA-4401-9C3A-2950A61DBE29">
			  <File Id="FipsDLL" Name="fips.dll" Source="C:\build\OpenSSL_FIPS\lib\ossl-modules\fips.dll" />
		  </Component>
	  </ComponentGroup>

	  <ComponentGroup Id="ProgramMenuComponents" Directory="ProgramMenuDir">
		  <Component Id="ProgramMenuDir" Guid="61A42E38-0C12-40C6-9034-48E4348E40D6">
			  <RemoveFolder Id="ProgramMenuDir" On="uninstall" />
			  <RegistryValue Root="HKCU"
							 Key="Software\OpenSSL.org\OpenSSL"
							 Name="MenuFolder"
							 Type="string" Value="" />
		  </Component>

		  <Component Id="ApplicationShortcut" Guid="996CEC72-89C4-456E-B9E0-18BB586B7087">
			  <Shortcut Id="ApplicationStartMenuShortcutCMD"
						Name="OpenSSL CMD Prompt"
						Target="[SystemFolder]CMD.exe"
						Arguments="/k &quot;[INSTALLFOLDER]OpenSSL_Start.bat&quot;"
						WorkingDirectory="INSTALLFOLDER" />

			  <Shortcut Id="ApplicationStartMenuShortcutPS"
						Name="OpenSSL PS Prompt"
						Target="[SystemFolder]WindowsPowerShell\v1.0\powershell.exe"
						Arguments="-NoExit -Command &quot;&amp; {.\OpenSSL_Start.bat}&quot;"
						WorkingDirectory="INSTALLFOLDER" />

			  <RegistryValue Root="HKCU"
							 Key="Software\OpenSSL.org\OpenSSL"
							 Name="installed"
							 Type="integer"
							 Value="1" />
		  </Component>
	  </ComponentGroup>
  </Fragment>
</Wix>
