<?xml version="1.0" encoding="UTF-8"?>
<!--
  OpenSSL FIPS Installer - Component Definitions
  
  Copyright (c) 2026 Matthew Kempe @fsbruva
  SPDX-License-Identifier: Apache-2.0

  Repository: https://github.com/fsbruva/openssl-fips-windows-installer
-->
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <?ifndef StagingDir?>
    <?define StagingDir = "C:\build\staging" ?>
  <?endif?>
  
  <Fragment>
	  <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
		  <Component Id="INSTALLFOLDER" Guid="DE1B3FCE-4BA2-4379-A092-4E6AC846ED38">
			  <RemoveFolder Id="INSTALLFOLDER" On="uninstall" />
			  <RegistryValue Root="HKCU"
							 Key="Software\OpenSSL.org\OpenSSL"
							 Name="FolderComponent"
							 Type="string" Value="" />
		  </Component>

		  <!-- Core OpenSSL Files -->
		  <Component Id="MainExecutable" Guid="B26AA781-3B21-4A69-925E-BA716F47AD53">
			  <File Id="EXE" Name="openssl.exe" Source="$(var.StagingDir)\openssl.exe" />
		  </Component>

		  <Component Id="OpensslCnf" Guid="FA1803BF-2E61-425C-875E-F48170C66665">
			  <File Id="oConf" Name="openssl.cnf" Source="$(var.StagingDir)\openssl.cnf" />
		  </Component>

		  <Component Id="FipsModuleCnf" Guid="8B62B2F7-B0A0-42AE-9C0D-4761255E8451">
			  <File Id="fConf" Name="fipsmodule.cnf" Source="$(var.StagingDir)\fipsmodule.cnf" />
		  </Component>

		  <Component Id="ShellWrapper" Guid="EAD69737-7977-4E4E-B511-089CF568FFDF">
			  <File Id="BAT" Name="OpenSSL_Start.bat" Source="$(var.StagingDir)\OpenSSL_Start.bat" />
		  </Component>
		  
		  <!-- Build and Verification Documentation -->
		  <Component Id="SourceVerification" Guid="6410FBA1-59D4-475E-8F84-9E3ABF03318B">
			  <File Id="SourceVerificationTxt" Name="source-verification.txt" Source="$(var.StagingDir)\source-verification.txt" />
		  </Component>
		  
		  <Component Id="CryptoAttestation" Guid="5D5AE0D2-C6F5-43EA-92BA-52BD96F8D3D8">
			  <File Id="CryptoAttestationTxt" Name="CRYPTOGRAPHIC_ATTESTATION.txt" Source="$(var.StagingDir)\CRYPTOGRAPHIC_ATTESTATION.txt" />
		  </Component>

		  <Component Id="BuildProvenance" Guid="3F8D1C05-F531-4D7D-9EFA-247F62C14378">
			  <File Id="BuildProvenanceTxt" Name="BUILD_PROVENANCE.txt" Source="$(var.StagingDir)\BUILD_PROVENANCE.txt" />
		  </Component>

		  <Component Id="BuildProvenanceJson" Guid="A06738E5-CB07-453D-8F29-16C2CB1C898D">
			  <File Id="BuildProvenanceJson" Name="BUILD_PROVENANCE.json" Source="$(var.StagingDir)\BUILD_PROVENANCE.json" />
		  </Component>
		  
		  <!-- License and Legal Files -->
		  <Component Id="License" Guid="E48C3A69-2596-4A95-A60B-B27425E8F8E8">
			  <File Id="LicenseTxt" Name="LICENSE.txt" Source="$(var.StagingDir)\LICENSE.txt" />
		  </Component>
			  
		  <Component Id="OpenSSLLicense" Guid="F1234567-89AB-CDEF-0123-456789ABCDEF">
			  <File Id="OpenSSLLicenseTxt" Name="OPENSSL_LICENSE.txt" Source="$(var.StagingDir)\OPENSSL_LICENSE.txt" />
		  </Component>
		  
		  <Component Id="ThirdPartyNotices" Guid="F2345678-9ABC-DEF0-1234-56789ABCDEF0">
			  <File Id="ThirdPartyNoticesTxt" Name="THIRD_PARTY_NOTICES.txt" Source="$(var.StagingDir)\THIRD_PARTY_NOTICES.txt" />
		  </Component>
	  </ComponentGroup>

	  <ComponentGroup Id="ProductModules" Directory="OSSLModulesFolder">
		  <Component Id="FipsModule" Guid="13E07CC8-19BA-4401-9C3A-2950A61DBE29">
			  <File Id="FipsDLL" Name="fips.dll" Source="$(var.StagingDir)\lib\ossl-modules\fips.dll" />
		  </Component>
	  </ComponentGroup>

	  <ComponentGroup Id="ProgramMenuComponents" Directory="ProgramMenuDir">
		  <Component Id="ProgramMenuDir" Guid="61A42E38-0C12-40C6-9034-48E4348E40D6">
			  <RemoveFolder Id="ProgramMenuDir" On="uninstall" />
			  <RegistryValue Root="HKCU"
							 Key="Software\OpenSSL.org\OpenSSL"
							 Name="MenuFolder"
							 Type="string" Value="" />
		  </Component>

		  <Component Id="ApplicationShortcut" Guid="996CEC72-89C4-456E-B9E0-18BB586B7087">
			  <Shortcut Id="ApplicationStartMenuShortcutCMD"
						Name="OpenSSL CMD Prompt"
						Target="[SystemFolder]CMD.exe"
						Arguments="/k &quot;[INSTALLFOLDER]OpenSSL_Start.bat&quot;"
						WorkingDirectory="INSTALLFOLDER" />

			  <Shortcut Id="ApplicationStartMenuShortcutPS"
						Name="OpenSSL PS Prompt"
						Target="[SystemFolder]WindowsPowerShell\v1.0\powershell.exe"
						Arguments="-NoExit -Command &quot;&amp; {.\OpenSSL_Start.bat}&quot;"
						WorkingDirectory="INSTALLFOLDER" />

			  <RegistryValue Root="HKCU"
							 Key="Software\OpenSSL.org\OpenSSL"
							 Name="installed"
							 Type="integer"
							 Value="1" />
		  </Component>
	  </ComponentGroup>
  </Fragment>
</Wix>
