
# For FIPS usage, it is recommended that the config_diagnostics option is
# enabled to prevent accidental use of non-FIPS validated algorithms via
# broken or mistaken configuration.
config_diagnostics = 1

# This definition stops the subsequent lines from choking if HOME isn't
# defined.
HOME			= .

# Use this in order to automatically load providers.
openssl_conf = openssl_init

# For FIPS
.include fipsmodule.cnf

[openssl_init]
providers = provider_sect

# List of providers to load
# The base provider does not include any cryptographic algorithms (and therefore 
# does not impact the validation status of any cryptographic operations), but 
# does include other supporting algorithms that may be required. It is designed 
# to be used in conjunction with the FIPS module.

[provider_sect]
fips = fips_sect
base = base_sect

[base_sect]
activate = 1

[algorithm_sect]
default_properties = fips=yes